<%= simple_nested_form_for(@team, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="well">
    <div class="row">
      <div class="col-sm-12">
      <%= f.input :name %>
      </div>
      <div class="col-sm-12">
        <%= f.input :team_picture, as: :file %>
      </div>
      <% if f.object.picture %>
      <div>
        <%= image_tag f.object.picture.url(:medium) %>
      </div>
      <% end -%>
      <div class="col-sm-12">
      <%= f.input :description, input_html: {rows: 5} %>
      </div>
      <div class="col-sm-12">
      <%= f.input :special %>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h3>Localização</h3>
      <div class="col-sm-12">
        <%= f.input :zipcode %>
      </div>
      <div class="col-sm-12">
        <%= f.input :state %>
      </div>
      <div class="col-sm-12">
        <%= f.input :city %>
      </div>
      <div class="col-sm-12">
        <%= f.input :address %>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h3>Membros</h3>
      <%= f.fields_for :team_members do |team_member_form| %>
      <div class="col-sm-12">
        <div class="well">
          <legend><%= t('.team_member_title') %></legend>
          <div class="col-sm-12">
            <%= team_member_form.input :member, placeholder: t('simple_form.hints.team_member.member') %>
          </div>
          <div class="col-sm-12">
            <%= team_member_form.input :photo, placeholder: t('simple_form.hints.team_member.photo'), as: :file %>
          </div>
          <div class="col-sm-12">
            <%= team_member_form.input :resume, placeholder: t('simple_form.hints.team_member.resume') %>
          </div>
          <%= team_member_form.link_to_remove '<i class="fa fa-minus-circle"></i> '.html_safe+t('.remove_team_members'), class: 'btn btn-danger btn-xs' %>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add '<i class="fa fa-plus-circle"></i> '.html_safe+t('.add_team_members'), :team_members, class: 'btn btn-info btn-xs' %>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to(t('manage_pictures'), team_pictures_path(@team), class: 'btn btn-primary') unless @team.new_record? %>
  <%= link_to 'Voltar', teams_path, class: 'btn btn-default' %>
<% end %>
