<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="img/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2><%= @product.name %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!-- Video -->
<section>

  <% if @product.video.blank? %>
  <div class="video">
    <figure>
      <ul class="rslides">
        <li><%= image_tag @product.picture.url, alt: @product.name %></li>
      </ul>
    </figure>
  </div>
  <% else %>
  <a class="iframe_video" title="<%= @product.name %>" href="https://www.youtube.com/embed/<%= @product.video %>?autoplay=1">
    <div class="video">
      <figure>
        <ul class="rslides">
          <li><%= image_tag @product.picture.url, alt: @product.name %></li>
        </ul>
        <figcaption>
          <div class="wow pulse animated" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s">
            <i class="fa fa-play-circle"></i>
          </div>
        </figcaption>
      </figure>
    </div>
  </a>
  <% end -%>

  <div class="row gallery details-bike">

    <!--Items-->
    <div class="col-md-12">
      <h2 class="color">Preço <strong><%= product_price(@product) %></strong></h2>
      <h3><%= @product.name %></h3>
      <hr />
      <ul class="list-detail">
      <% @product.features_list.each do |feature| %>
        <li><p><%= feature %></p></li>
      <% end -%>
      </ul>
    </div>

    <div class="col-md-6">
      <!--Colors-->
      <h4>Cores Disponíveis</h4>
      <hr class="left-hr" />
      <ul class="list-inline colors">
        <% @product.colors_list.each do |color| %>
        <li style="background-color: <%= color %>"></li>
        <% end -%>
      </ul>
      <!--Colors-->
    </div>

    <div class="col-md-6">

      <!--Categories-->
      <h4>Tags</h4>
      <hr class="left-hr" />
      <ul class="details-categories list-inline">
      <% @product.categories.each do |category| %>
        <li><a href="#"><%= category %></a><%= "/" if category != @product.categories.last %></li>
      <% end -%>
      </ul>
      <!--Categories-->
    </div>
    <!--Items-->

  </div>

</section>
<!-- Video -->

<!--Central Content-->
<section class="container" style="clear: both">
  <div class="row">

    <!--Tabs-->
    <div role="tabpanel" class="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Especificações</a></li>
        <li role="presentation"><a href="#seller" aria-controls="seller" role="tab" data-toggle="tab">Informações para contato</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="features">
          <!--Options-->
          <div class="row">
            <div class="col-md-4 col-sm-4"><h3>Descrição</h3></div>

            <div class="col-md-8 col-sm-8">
              <%= simple_format @product.description %>
            </div>
          </div>
          <!--Options-->

          <div class="divider"></div>

          <!--Options-->
          <div class="row">
            <div class="col-md-4"><h3>Imagens</h3></div>

            <div class="col-md-8">
              <ul class="gallery-image list-inline">
                <% @product.pictures.each do |picture| %>
                <li>
                  <a class="fancybox center" title="" href="<%= picture.photo.url(:big) %>">
                    <img src="<%= picture.photo.url(:thumb) %>" alt="" />
                  </a>
                </li>
                <% end -%>
             </ul>
           </div>
         </div>
         <!--Options-->
      </div>

      <div role="tabpanel" class="tab-pane" id="seller">

          <!--Options-->
          <div class="row">
            <div class="col-md-4"><h3>Vendedor</h3></div>

            <div class="col-md-8">
              <ul>
                <% @product.contact_data.each do |contact_key, value| %>
                <li><%= Product.human_attribute_name(contact_key) %>: <strong><%= value %></strong></li>
                <% end -%>
             </ul>
           </div>
         </div>
         <!--Options-->
      </div>
    </div>

  </div>
  <!--Tabs-->

</div>
</section>
<!--Central Content-->
