<%= simple_form_for(@post_category, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="well">
    <div class="row">
      <div class="col-sm-12">
        <%= f.input :name %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %> <small>ou <%= link_to 'Voltar', post_categories_path %></small>
<% end %>
