<%= simple_form_for(@race, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="well">
    <div class="row">
      <h3>Descrição da Prova</h3>
      <div class="col-sm-12">
        <%= f.association :user, collection: User.all, label_method: :email %>
      </div>
      <div class="col-sm-12">
        <%= f.input :title %>
      </div>
      <div class="col-sm-12">
        <%= f.input :show_title_in_index %>
      </div>
      <div class="col-sm-12">
        <%= f.input :video %>
      </div>
      <div class="col-sm-12">
        <%= f.input :race_picture, as: :file %>
      </div>
      <% if f.object.picture %>
      <div>
        <%= image_tag f.object.picture.url(:medium) %>
      </div>
      <% end -%>
      <div class="col-sm-12">
        <%= f.input :resume %>
      </div>
      <div class="col-sm-12">
        <%= f.input :description, input_html: {rows: 5} %>
      </div>
      <div class="col-sm-12">
        <%= f.input :race_type %>
      </div>
      <div class="col-sm-12">
        <%= f.input :send_notifications %>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h3>Organização e Contato</h3>
      <div class="col-sm-12">
        <%= f.input :organization %>
      </div>
      <div class="col-sm-12">
        <%= f.input :contact %>
      </div>
      <div class="col-sm-12">
        <%= f.input :contact_phone %>
      </div>
      <div class="col-sm-12">
        <%= f.input :contact_mobile %>
      </div>
      <div class="col-sm-12">
        <%= f.input :contact_email %>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h3>Planejamento</h3>
      <div class="col-sm-12">
        <%= f.input :race_details, input_html: {rows: 5} %>
      </div>
      <div class="col-sm-12">
        <%= f.input :occur_at %>
      </div>
      <div class="col-sm-12">
        <%= f.input :registration_start_at %>
      </div>
      <div class="col-sm-12">
        <%= f.input :registration_end_at %>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h3>Localização</h3>
      <div class="col-sm-12">
        <%= f.input :zipcode %>
      </div>
      <div class="col-sm-12">
        <%= f.input :state %>
      </div>
      <div class="col-sm-12">
        <%= f.input :city %>
      </div>
      <div class="col-sm-12">
        <%= f.input :address %>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <h3>Informações de Pagamento</h3>
      <div class="col-sm-12">
        <%= f.input :payment_method %>
      </div>
      <div class="col-sm-12">
        <%= f.input :payment_details, input_html: {rows: 5} %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to(t('manage_pictures'), race_pictures_path(@race), class: 'btn btn-primary') unless @race.new_record? %>
  <%= link_to 'Voltar', races_path, class: 'btn btn-default' %>
<% end %>
