<section class="container padding-bottom">

<%= title_for_list(:race) %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Data</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.id %></td>
        <td><%= race.title %></td>
        <td><%= l race.occur_at %></td>
        <td><%= link_to 'Enviar Notificação', send_notifications_race_path(race) %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_path %>
</section>
