<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2><%= @post_category.name %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
<section class="container">
    <div class="row top-mini sidebar">

      <div class="col-md-12 item-category post events full-width">

        <% cache @posts do %>
          <%= render partial: 'post', collection: @posts %>
          <div class="divider"></div>
        <% end %>

        <%= paginate @posts %>
<!--
        <ul class="col-md-12 pagination top">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        </ul> -->

      </div>

    </div>
</section>
<!--Central Content-->
