<% if @post %>
<!--Central Content-->
<section class="container top">
    <div class="row">
        <div class="col-md-12 item-category post events full-width">
            <%= render "public_post_categories/post", post: @post %>
            <div class="divider"></div>
        </div>

    </div>
</section>
<!--Central Content-->
<% end -%>
