<!-- Register -->
<section class="bar-section center" style="clear: both">
  <!-- <h1 class="title-downloads">
    <span class="color">Radar Bike</span> já registrou
    <span class="responsive-numbers">
      <span>2</span>
      <span>6</span>
      <span>1</span>
      <span>2</span>
    </span>
    furtos e possíveis soluções.
  </h1> -->

  <div class="container">
    <h2>
      Todo ciclista teme por sua vida e é claro sua bicicleta. Pensamos então em uma maneira de tentar achar nosso bem tão valioso
    </h2>
    <ul>
      <li><strong>01<i class="fa fa-user-plus"></i></strong><span>cria sua conta</span></li>
      <li><strong>02<i class="fa fa-bicycle"></i></strong><span>registre o furto</span></li>
      <li><strong>03<i class="fa fa-search"></i></strong><span>aguarde o radar</span></li>

    </ul>
  </div>
</section>
<!-- Register -->
