<% unless @products.blank? %>
<!--VENDAS-->
<section class="container display-pc">
  <div class="row">
    <div class="col-lg-12 top-mini">

      <h2 class="center">Ofertas em <span class="color">Destaque</span> e com <span class="color">Ótimos Preços</span></h2>
      <hr>

      <ul class="carousel-bikes center">
        <% @products.each do |product| %>
        <!--Item-->
        <li>
          <div class="image-bike">
            <%= image_tag product.picture.url(:medium), alt: product.name %>
          </div>
          <div class="text-bike">
            <a href="<%= public_product_path(product) %>"><h4><%= product.name %></h4></a>
            <p><span class="color">preço:</span> <%= product_price(product) %></p>
          </div>
        </li>
        <!--Item-->
        <% end -%>

      </ul>
    </div>
  </div>
</section>
<!--VENDAS FIM-->
<% end -%>
