<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2>Sobre a Empresa</h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
<section class="container">
  <div class="row padding-bottom top-mini">

    <div class="col-md-12">
      <h2><span class="color">Sobre</span> o RadarBike</h2>
      <hr class="left-hr">
      <p>Olá, se você está procurando informações mais aprofundadas da empresa radarbike.com.br este é o lugar. O que nosso site tem e muitos outros oferecem não entraremos em detalhes pois é bem simples. Mas o diferencial mesmo é a forma que tentamos ajudar aos nossos ciclistas a encontrar as bicicletas roubadas.</p>
      <p>Sabemos da dificuldade de comprar uma bicicleta de qualidade e muito mais com as condições de preços atuais. E quando você é roubado parece que tudo está perdido. E o pior é que muitas vezes estamos vendo anúncios de bicicletas suspeitas e não podemos fazer muita coisa.</p>
      <p>Com um sistema de mapeamento podemos tentar ajudar a localizar furtos. Em breve será mais fácil ainda com o aplicado para iOS e Android, exibindo assim bicicleta furtadas perto de sua localidade.</p>
    </div>
  </div>
</section>
<!--Central Content-->
