<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2><%= t('.title') %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->
<!--Central Content-->
<section class="container padding-bottom">
  <div class="top-mini">
    <div id='calendar'></div>
  </div>
</section>
<!--Central Content-->
<%= content_for :footer do %>
<%= javascript_include_tag 'fullcalendar-2.4.0/moment', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
<%= javascript_include_tag 'fullcalendar-2.4.0/lang/pt-br', 'data-turbolinks-track' => true %>
<link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css" data-turbolinks-track="true">
<script type="text/javascript">
  $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        events: <%=races_events %>
    })

});
</script>
<% end -%>
