<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2><%= t('.title') %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->
<!--Central Content-->
<section class="container">
  <div class="top-mini">
    <% unless @races.blank? %>
    <% @races.each do |race| %>
    <%= render 'race', race: race %>
    <div class="divider"></div>
    <% end -%>

    <%= paginate @races %>
    <% else %>
    <div class="padding-bottom">
      <h2>Opa, não existem provas registradas</h2>
      <p>Isso é algo raro de acontecer mas pode ser que não tenhamos provas a serem exibidas. Neste caso talvez você queira:</p>
      <ul>
        <li>Cadastrar uma nova prova (em breve)</li>
        <li><%= link_to 'Conferir as próximas provas', public_races_path %></li>
      </ul>
    </div>
    <% end -%>

  </div>
</section>
<!--Central Content-->
