<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2>Quer uma prova de ciclismo em sua cidade?</h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
<section class="container">
  <div class="row paddings place-purchase">
    <div class="col-lg-12">
      <p>Organizar uma prova de ciclismo exige tempo, experiência e um histórico de eventos de qualidade.</p>
      <p>Para isso temos uma parceria com Erick Fênix MTB que organiza provas mineiras. A experiência com eventos fará com que a prova em sua cidade possa ser organizada com:</p>
      <ul>
        <li>Segurança</li>
        <li>Qualidade</li>
        <li>Divulgação para diversos atletas</li>
        <li>Trará incentivo para a população para a prática do esporte</li>
      </ul>
    </div>
    <div class="col-lg-6 item-category col-md-6 col-sm-12">
      <!--item where buy-->
      <figure class="items">
        <img src="/assets/ContactUs.jpg" alt="">
        <figcaption>
          <div class="center">
            <h4 class="text-uppercase">Sobre Erick Fênix MTB</h4>
            <hr />
            <p>Mais informações sobre nosso parceiro de organização de provas.</p>
          </div>
          <ul class="working-hours">
            <li><p>Telefone <span>(31) 7520-4516 | (61) 8183-7048</span></p></li>
            <li><p>Facebook <span><%= link_to 'fenixmtbesportesradicais', 'https://www.facebook.com/fenixmtbesportesradicais?fref=ts', target: '_blank' %></span></p></li>
            <li><p>Skype <span>SITERADARBIKE</span></p></li>
          </ul>
        </figcaption>
      </figure>
      <!--item where buy-->

    </div>

    <!--Contact Form-->
    <div class="col-lg-6 col-md-6 col-sm-12">

      <h3 class="form-contact">Preencha os campos abaixo para entrar em contato conosco</h3>
      <hr class="left-hr" />

      <%= simple_form_for @race_organization_contact, url: send_contact_public_races_path, html: {class: 'form-contact'} do |f| %>
      <div class="row form-group form-comment form_contact">
        <!--Name-->
        <div class="col-sm-12">
          <%= f.input :name, label: 'Seu nome completo', required: :required %>

        </div>
        <!--Name-->

        <!--email-->
        <div class="col-sm-12">
          <%= f.input :visitor_email, label: 'Seu e-mail', required: :required %>
        </div>
        <!--email-->

        <div class="col-sm-12">
          <%= f.input :motive, label: 'Motivo da prova', required: :required %>
        </div>

        <div class="col-sm-12">
          <%= f.input :occur_at, placeholder: "00/00/0000", label: 'Data', required: :required %>
        </div>

        <!--email-->
        <div class="col-sm-12">
          <%= f.input :message, as: :text, label: 'Descrição', rows: 3, required: :required %>
        </div>
        <!--email-->
      </div>
      <!--Name-->
      <div class="result"></div>
      <button type="submit" class="btn btn-primary">Enviar mensagem</button>
      <% end -%>

    </div>
    <!--Contact Form-->

  </div>
</section>
<!--Central Content-->
