<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2><%= @race.title %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->
<!--Central Content-->
<section class="container">
  <div class="top-mini padding-bottom">
    <div class="row">
      <div class="col-md-12">
        <%= render 'race_full_detail', race: @race %>
      </div>
    </div>
    <div class="row top-mini">
      <div class="col-md-6">
        <h4>Organização</h4>
        <p><%= @race.organization %></p>

        <div class="top-mini">
          <h4>Contato</h4>
          <p><%= [@race.contact, @race.contact_phone, @race.contact_mobile, @race.contact_email].reject{|t| t.blank?}.join(' - ') %></p>
        </div>

        <div class="top-mini">
          <h4>Data para inscrição</h4>
          <p><%= l(@race.registration_start_at) %> a <%= l(@race.registration_end_at) %></p>
        </div>

        <div class="top-mini">
          <h4>Endereço</h4>
          <p><%= @race.address %> - <%= @race.city %>/<%= @race.state %></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h4>Imagens</h4>
            <ul class="gallery-images sidebar">
            <% @race.pictures.all.each do |picture| %>
              <li>
                  <a class="fancybox center" title="" href="<%= picture.photo.url %>">
                    <figure><img src="<%= picture.photo.url(:medium) %>" alt=""><figcaption><i class="fa fa-search-plus"></i></figcaption></figure>
                  </a>
              </li>
            <% end -%>
            </ul>
          </div>
          <% unless @race.video.blank? %>
          <div class="col-md-12 top">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/<%= @race.video %>" frameborder="0" allowfullscreen></iframe>
          </div>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="row top-mini">
      <div class="col-md-12">
        <h4>Detalhes da prova</h4>
        <p><%= simple_format @race.race_details %></p>
      </div>
    </div>
  </div>
</section>
<!--Central Content-->
