<h2>Enviado por: <u><%= @name %></u></h2>
<p>
Data: <u><%= l Time.now %></u><br />
Email: <u><%= @visitor_email %></u><br />
Assunto: <u><%= @subject %></u>
</p>
<div class="well">
  <blockquote class="blockquote"><%=simple_format(@message) %></blockquote>
</div>
