<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2><%= @post.title %></h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
            <section class="container">
                <div class="row padding-bottom top-mini">

                    <div class="col-md-9 post">

                        <%= image_tag @post.picture.url, alt: @post.title %>

                        <div class="col-md-12 center">
                            <ul class="list-inline list-features">
                                <li><p><span><i class="fa fa-calendar"></i> <%= t('.published_at') %>: </span><%= l(@post.published_at, format: :short) %> /</p></li>
                                <li><p><span><i class="fa fa-user"></i> <%= t('.by') %>: </span><%= @post.user.name %></p></li>
                            </ul>
                        </div>
                        <!--content post-->

                        <%= simple_format @post.content %>


                    </div>

                    <div class="col-md-3 sidebar">
                        <h4><%= t('.categories') %></h4>
                        <hr class="left-hr">

                        <ul>
                          <% @post.post_categories.each do |post_category| %>
                            <li><%= link_to post_category.name, public_post_category_path(post_category) %></li>
                          <% end -%>
                        </ul>

                        <% unless @post.user.info.blank? %>
                        <div class="divider"></div>

                        <h4><%= t('.about') %></h4>
                        <hr class="left-hr">
                        <p><%= @post.user.info %></p>
                        <% end -%>

                        <% unless @post.pictures.blank? %>
                        <div class="divider"></div>
                        <h4><%= t('.gallery') %></h4>
                        <hr class="left-hr">
                        <ul class="gallery-images sidebar">
                        <% @post.pictures.each do |picture| %>
                          <li>
                              <a class="fancybox center" title="" href="<%= picture.photo.url(:big) %>">
                                <figure><img src="<%= picture.photo.url(:thumb) %>" alt=""><figcaption><i class="fa fa-search-plus"></i></figcaption></figure>
                              </a>
                          </li>
                        <% end -%>
                        </ul>
                        <% end -%>
                    </div>

                </div>
            </section>
            <!--Central Content-->
