<p><small><%= t('.text').html_safe %></small></p>

<%= simple_form_for(current_user, url: update_my_account_path, html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.input :name, required: true, autofocus: true %>
    </div>
    <div class="col-sm-12">
      <%= f.input :email, required: true %>
    </div>
    <div class="col-sm-12">
      <%= f.input :photo, as: :file %>
    </div>
    <% if f.object.photo_file_name %>
    <div>
      <%= image_tag f.object.photo.url(:thumb) %>
    </div>
    <% end -%>
    <div class="col-sm-12">
      <%= f.input :info, input_html: {rows: 3} %>
    </div>
    <div class="col-sm-12">
      <%= f.input :specialty %>
    </div>
    <div class="col-sm-12">
      <%= f.input :facebook_url %>
    </div>
    <div class="col-sm-12">
      <%= f.input :zipcode %>
    </div>
    <div class="col-sm-12">
      <%= f.input :state %>
    </div>
    <div class="col-sm-12">
      <%= f.input :city %>
    </div>
    <div class="col-sm-12">
      <%= f.input :address %>
    </div>
    <div class="col-sm-12">
      <%= f.input :send_races %>
    </div>
  </div>

    <%= f.submit t('.save'), class: 'btn btn-primary' %>
<% end %>
