<%= simple_form_for([author_gallery, Picture.new], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="well">
    <div class="row">
      <div class="col-sm-12">
        <%= f.input :photo, as: :file %>
      </div>
      <div class="col-sm-12">
        <%= f.input :master %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to "Voltar para '#{author_gallery.title}'", polymorphic_path([:edit, author_gallery]), class: 'btn btn-default' %>
<% end %>
