<section class="container padding-bottom">

<%= title_for_create_update(:create, :picture) %>
<%= render 'form' %>

<div class="well top-mini">
  <h4>Imagens de <%= author_gallery.title %></h4>
  <ul class="gallery-images sidebar">
  <% @pictures.each do |picture| %>
    <li>
        <a class="fancybox center" title="" href="<%= picture.photo.url(:big) %>">
          <figure><img src="<%= picture.photo.url(:medium) %>" alt=""><figcaption><i class="fa fa-search-plus"></i></figcaption></figure>
        </a>
        <div class="btn-group">
        <% if picture.master %>
          <a class="btn btn-xs btn-info">Imagem Principal</a>
        <% else %>
          <a class="btn btn-xs btn-default" href="<%= make_master_race_picture_path(author_gallery, picture) %>">Tornar Principal</a>
          <%= link_to 'Remover', polymorphic_url([author_gallery, picture]), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end -%>

        </div>
    </li>
  <% end -%>
  </ul>
</div>

</section>
