<%= simple_form_for(@post, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="well">
    <div class="row">
      <div class="col-sm-12">
      <%= f.association :user %>
      </div>
      <div class="col-sm-12">
      <%= f.association :post_categories %>
      </div>
      <div class="col-sm-12">
      <%= f.input :title %>
      </div>
      <div class="col-sm-12">
        <%= f.input :post_picture, as: :file %>
      </div>
      <% if f.object.picture %>
      <div>
        <%= image_tag f.object.picture.url(:medium) %>
      </div>
      <% end -%>
      <div class="col-sm-12">
      <%= f.input :resume %>
      </div>
      <div class="col-sm-12">
      <%= f.input :content %>
      </div>
      <div class="col-sm-12">
      <%= f.input :published_at %>
      </div>
      <div class="col-sm-12">
      <%= f.input :active %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to(t('manage_pictures'), post_pictures_path(@post), class: 'btn btn-primary') unless @post.new_record? %>
  <%= link_to 'Voltar', posts_path, class: 'btn btn-default' %>
<% end %>
