<!--Background Image title-->
<section class="bg-title">
  <!-- <img src="/assets/titles-zones/title-zone-02.jpg" alt=""> -->
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-content paddings center">
      <div class="col-md-12">
        <h2>Fale Conosco</h2>
      </div>
    </div>
  </div>
</section>
<!--Background Image title-->

<!--Central Content-->
            <section class="container">
                <div class="row paddings place-purchase">

                    <div class="col-lg-6 item-category col-md-6 col-sm-12">
                        <!--item where buy-->
                        <figure class="items">
                            <img src="/assets/ContactUs.jpg" alt="">
                            <figcaption>
                                <div class="center">
                                    <h4 class="text-uppercase">Entre em contato conosco para</h4>
                                    <hr />
                                    <p>Tratar de divulgações de eventos, organização de provas, ser um colunista.</p>
                                </div>
                                <ul class="working-hours">
                                  <li><p>Telefone <span>(33) 9122-1596</span></p></li>
                                  <li><p>Email <span><%= t(:contact_email).html_safe %></span></p></li>
                                  <li><p>Skype <span>SITERADARBIKE</span></p></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <!--item where buy-->

                    </div>

                    <!--Contact Form-->
                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <h3 class="form-contact">Preencha os campos abaixo para entrar em contato conosco</h3>
                        <hr class="left-hr" />

                        <%= simple_form_for @contact, url: send_contact_path, html: {class: 'form-contact'} do |f| %>
                            <div class="row form-group form-comment form_contact">
                                <!--Name-->
                                <div class="col-sm-12">
                                  <%= f.input :name, label: false, placeholder: 'Preencha com seu nome', required: :required %>

                                </div>
                                <!--Name-->

                                <!--email-->
                                <div class="col-sm-12">
                                  <%= f.input :visitor_email, label: false, placeholder: 'Preencha com seu email', required: :required %>
                                </div>
                                <!--email-->

                                <!--assunto-->
                                <div class="col-sm-12">
                                  <%= f.input :subject, label: false, placeholder: 'Preencha com o assunto', required: :required %>
                                </div>
                                <!--assunto-->

                                <!--email-->
                                <div class="col-sm-12">
                                  <%= f.input :message, as: :text, label: false, placeholder: 'Escreva sua mensagem, em breve entraremos em contato', rows: 3, required: :required %>
                                </div>
                                <!--email-->
                            </div>
                            <!--Name-->
                            <div class="result"></div>
                          <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                        <% end -%>

                    </div>
                    <!--Contact Form-->

                </div>
            </section>
            <!--Central Content-->
