<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1,  maximum-scale=1">
  <title><%= t(:app_name) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center padding-bottom"><%= image_tag "logo-radar.png", alt: t(:app_name) %></div>

        <h2><%= I18n.t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></h2>

        <p><%= I18n.t("devise.mailer.invitation_instructions.someone_invited_you").html_safe %></p>

        <p><%= link_to I18n.t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

        <p><%= I18n.t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
      </div>
    </div>
  </div>
</body>
</html>
