<!-- Video -->
<section>

  <% if @product.video.blank? %>
  <div class="video">
    <figure>
      <ul class="rslides">
        <li><%= image_tag @product.photo.url, alt: @product.name %></li>
      </ul>
    </figure>
  </div>
  <% else %>
  <a class="iframe_video" title="<%= @product.name %>" href="https://www.youtube.com/embed/<%= @product.video %>?autoplay=1">
    <div class="video">
      <figure>
        <ul class="rslides">
          <li><%= image_tag @product.photo.url, alt: @product.name %></li>
        </ul>
        <figcaption>
          <div class="wow pulse animated" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s">
            <i class="fa fa-play-circle"></i>
          </div>
        </figcaption>
      </figure>
    </div>
  </a>
  <% end -%>

  <div class="row gallery details-bike">

    <!--Items-->
    <div class="col-md-12">
      <h2 class="color">Preço <strong><%= product_price(@product) %></strong></h2>
      <h3><%= @product.name %></h3>
      <hr />
      <ul class="list-detail">
        <li><p>Triple-butted 6061 Aluminum frame and fork</p></li>
        <li><p>Hydro-formed top tube and seat tube</p></li>
        <li><p>Integrated headset (included)</p></li>
        <li><p>31.8mm seat post clamp (included)</p></li>
        <li><p>Aerodynamically improved fork</p></li>
        <li><p>Smooth welds</p></li>
        <li><p>Hand polished</p></li>
        <li><p>68mm English threaded bottom bracket</p></li>
      </ul>
    </div>

    <div class="col-md-6">
      <!--Colors-->
      <h4>Colors Available</h4>
      <hr class="left-hr" />
      <ul class="list-inline colors">
        <li data-toggle="tooltip" title data-original-title="red" class="red"></li>
        <li data-toggle="tooltip" title data-original-title="black" class="black"></li>
        <li data-toggle="tooltip" title data-original-title="gray" class="gray"></li>
        <li data-toggle="tooltip" title data-original-title="brown" class="brown"></li>
        <li data-toggle="tooltip" title data-original-title="blue" class="blue"></li>
      </ul>
      <!--Colors-->

      <!--Rating-->
      <h4>Rating Product</h4>
      <hr class="left-hr" />
      <span class="rating-star">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>votes(17)</span>
      </span>
      <p><a href="#" class="color"><u>Rate this product</u></a></p>
      <!--Rating-->
    </div>

    <div class="col-md-6">

      <!--Categories-->
      <h4>Categories</h4>
      <hr class="left-hr" />
      <ul class="details-categories list-inline">
        <li><a href="#">Bike</a>/</li>
        <li><a href="#">Mountain</a>/</li>
        <li><a href="#">Kids</a>/</li>
        <li><a href="#">Adults</a></li>
      </ul>
      <!--Categories-->

      <!--Categories-->
      <h4 class="top">Size Available</h4>
      <hr class="left-hr" />
      <ul class="details-categories list-inline">
        <li><a href="#">S</a>/</li>
        <li><a href="#">M</a>/</li>
        <li><a href="#">L</a>/</li>
        <li><a href="#">XL</a></li>
      </ul>
      <!--Categories-->

    </div>
    <!--Items-->

  </div>

</section>
<!-- Video -->

<!--Central Content-->
<section class="container" style="clear: both">
  <div class="row">

    <!--Tabs-->
    <div role="tabpanel" class="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Especificações</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="features">
          <!--Options-->
          <div class="row">
            <div class="col-md-4 col-sm-4"><h3>Descrição</h3></div>

            <div class="col-md-8 col-sm-8">
              <h5>Build Kit Options</h5>
              <p>1In development with the Syndicate, we wrung full potential out of the new wheel standard before unveiling it at the races.  The restraint paid off, and the new V10 hoovered up a 2014 World Cup title and a World Champs medal within weeks of being released.</p>
              <ul>
                <li><p>Fox 40 R Float RC2 Factory Kashima Fork</p></li>
                <li><p>SRAM Guide RSC w/Avid G2CS Rotors, 203mm Front, 200mm Rear Brakes</p></li>
                <li><p>Raceface SIXC</p></li>
                <li><p>Downhill-specific, 7-speed X01 drivetrain, DT Swiss wheelset, SRAM Guide RSC brakes</p></li>
              </ul>
            </div>
          </div>
          <!--Options-->

          <div class="divider"></div>

          <!--Options-->
          <div class="row">
            <div class="col-md-4"><h3>Gallery</h3></div>

            <div class="col-md-8">
              <ul class="gallery-image list-inline">
                <li>
                  <a class="fancybox center" title="" href="/assets/gallery/gallery-image-01.jpg">
                    <img src="/assets/gallery/gallery-image-01.jpg" alt="">
                  </a>
                </li>
                <li>
                 <a class="fancybox center" title="" href="/assets/gallery/gallery-image-02.jpg">
                   <img src="/assets/gallery/gallery-image-02.jpg" alt="">
                 </a>
               </li>
               <li>
                 <a class="fancybox center" title="" href="/assets/gallery/gallery-image-03.jpg">
                   <img src="/assets/gallery/gallery-image-03.jpg" alt="">
                 </a>
               </li>
               <li>
                 <a class="fancybox center" title="" href="/assets/gallery/gallery-image-01.jpg">
                   <img src="/assets/gallery/gallery-image-01.jpg" alt="">
                 </a>
               </li>
               <li>
                 <a class="fancybox center" title="" href="/assets/gallery/gallery-image-02.jpg">
                   <img src="/assets/gallery/gallery-image-02.jpg" alt="">
                 </a>
               </li>
               <li>
                 <a class="fancybox center" title="" href="/assets/gallery/gallery-image-03.jpg">
                   <img src="/assets/gallery/gallery-image-03.jpg" alt="">
                 </a>
               </li>
             </ul>
           </div>
         </div>
         <!--Options-->



         <!--Shock Absorber-->
         <div class="row">
          <div class="col-md-4"><h3>Shock Absorber</h3></div>

          <div class="col-md-8">
            <p>FOX eNude / SCOTT custom w. travel / geo adj CTCD 3 modes: Climb - Traction Control - Descend / Kashima / reb. Adj. FOX Electronic TwinLoc remote 3 modes front and rear</p>
          </div>
        </div>
        <!--Shock Absorber-->

      </div>
    </div>

  </div>
  <!--Tabs-->

</div>
</section>
<!--Central Content-->
