<!-- footer Center-->
<footer class="footer-center">
    <div class="container">

       <div class="row">
           <div class="col-md-3 col-sm-6 center">
                <span class="arrow_footer"></span>
                <i class="fa fa-phone"></i>
                <h4>(33) 9122-1596</h4>
           </div>
           <div class="col-md-3 col-sm-6 center">
                <span class="arrow_footer"></span>
                <i class="fa fa-comment"></i>
                <h4>Skype: SITERADARBIKE</h4>
           </div>
           <div class="col-md-3 col-sm-6 center">
               <span class="arrow_footer"></span>
                <i class="fa fa-envelope"></i>
                <h4><%= t(:contact_email).html_safe %></h4>
           </div>
           <div class="col-md-3 col-sm-6 center">
               <figure><%= link_to image_tag("esporte-fitness.jpg"), "https://www.facebook.com/esportefitnessartesmarciais", target: "_blank" %></figure>
           </div>
       </div>

        <div class="row center top">

            <!-- Nav-->
            <div class="col-md-12">
              <% if session[:check_authorization] %>
                <ul class="menu">
                    <li><a href="<%= root_path %>">Página Inicial</a></li>
                    <li><a href="list-bikes-sidebar.html">Registrar furto</a></li>
                    <li><a href="page-faq.html">Bicicletas e Peças</a></li>
                    <li><a href="quotation.html">Provas</a></li>
                    <li><a href="post-left-sidebar.html">Política de Privacidade</a></li>
                    <li><a href="contact-form.html">Fale Conosco</a></li>
                </ul>
              <% end -%>

                <p class="copry">&copy; <%= Date.today.year %>. <%= t(:app_name) %> todos os direitos reservados. 2015 - <%= Date.today.year %></p>

                <!-- Menu-->
                <ul class="social">
                    <li data-toggle="tooltip" title data-original-title="Facebook">
                        <a href="https://www.facebook.com/radarbikeoficial" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <!-- <li data-toggle="tooltip" title data-original-title="Twitter">
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li> -->
                    <li data-toggle="tooltip" title data-original-title="Youtube">
                        <a href="https://www.youtube.com/channel/UCaCP2qcpDjWVSArSzpv5GtQ" target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
                <!-- End Menu-->
            </div>
            <!-- End Social-->

       </div>
    </div>
</footer>
<!-- End footer Center-->
