<!-- footer top-->
<footer class="footer-top">
  <div class="container">
   <div class="row">
     <h1><span class="color"><%= t('.email_sign_up.title') %></span></h1>
     <%= form_for :user, url: registration_path(:user), html: {id: "newsletterForm"} do |f| %>
     <div class="input-group">
      <%= f.email_field :email, class: "form-control", placeholder: t('.email_sign_up.input'), required: :required %>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" name="subscribe" ><%= t('.email_sign_up.button') %></button>
      </span>
    </div>
    <small><%= t('.email_sign_up.spam_alert') %></small>
    <% end -%>
  </div>
</footer>
<!-- End footer Top-->
