<!-- Modal Register-->
<div class="modal fade register" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body row">

                <div class="col-md-6 form-register">

                    <h3><%= t('users.registrations.new.header').html_safe %></h3>
                    <hr class="left-hr" />
                    <p><small><%= t('users.registrations.new.text').html_safe %></small></p>
                    <%= simple_form_for(User.new, url: registration_path(:user), html: {class: 'top-mini'}) do |f| %>

                        <%= f.input :name %>
                        <%= f.input :email %>
                        <%= f.input :password %>
                        <%= f.input :password_confirmation %>
                        <%= f.input :info, input_html: {rows: 3} %>
                        <%= f.input :send_races %>

                        <%= f.submit t('users.registrations.new.save'), class: 'btn btn-primary col-sm-4' %>
                    <% end -%>

                </div>

                <div class="col-md-6 sign-up">

                    <h3><%= t('.sign_in.header') %></h3>
                    <hr class="left-hr" />

                    <%= t('.sign_in.text') %>

                    <%= simple_form_for(User.new, url: session_path(:user), html: {class: "top-mini"}) do |f| %>
                        <%= f.input :email, required: false, autofocus: true %>
                        <%= f.input :password, required: false %>
                        <%= f.input :remember_me, as: :boolean %>

                        <%= f.submit t('sign_in'), class: "btn btn-primary" %> ou
                        <a href="<%= user_omniauth_authorize_path(:facebook) %>" class="btn btn-default btn-sm"><i class="fa fa-facebook"></i> <%= t('login_with_facebook') %></a>
                    <% end %>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('.sign_in.close') %></button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Register-->
