<!--Menu-->
<nav>
  <div class="container">
    <div class="row">

      <!--Logo-->
      <div class="col-md-5 col-lg-6 col-sm-12 logo">
        <a href="<%= root_path %>">
          <%= image_tag "logo-radar.png", alt: t(:app_name) %><span> <%= t(:app_name) %></span>
        </a>
      </div>
      <!--Logo-->

      <!--Login-->
      <ul class="bar-login col-md-7 col-sm-12 col-lg-6 right">
        <% unless user_signed_in? %>
        <li><p><a href="#" data-target=".register" data-toggle="modal"><%= t('.register') %> <i class="fa fa-user-plus"></i></a></p></li>
        <% end -%>
        <li><p><a href="#">Contate-nos: (33) 9122-1596</a></p></li>
        <li>
            <p>
                <a href="#" id="showlogin">
                    <%= t('.my_account') %>
                    <span id="triangle_down">&#9660;</span>
                    <span id="triangle_up" style="display:none;">&#9650;</span>
                </a>
            </p>

            <div id="loginpanel">
                <ul class="social_bottons">
                    <li><a href="#" class="botton_tw"><i class="fa fa-twitter"></i>Login with Twitter</a></li>
                    <li><a href="#" class="botton_face"><i class="fa fa-facebook"></i>Login with Facebook</a></li>
                </ul>

                <form action="#" method="post" class="login_form">
                    <label>Username:</label>
                    <input type="text" id="username" placeholder="Username" required="required"/>
                    <label>Password:</label>
                    <input type="password" id="password" placeholder="Password" required="required"/>
                    <ul>
                        <li><button type="submit" id="submit" class="botton_border">Submit</button></li>
                        <li><a href="#">¿Forgot Password?</a></li>
                    </ul>
                </form>
            </div>
        </li>
      </ul>
      <!--Login-->

    </div>
  </div>

  <!-- mainmenu-->
  <div class="mainmenu">
    <div class="container">
      <div class="row">
        <!-- Menu-->
        <ul class="col-md-12 sf-menu" id="menu">

          <li class="selected current">
            <a href="<%= root_path %>">Página Inicial</a>
          </li>

          <li class="current">
            <a href="#">Sobre a <%= t(:app_name) %></a>
            <ul class="sub-current">
              <li><a href="https://www.facebook.com/radarbikeoficial?ref=hl" target="_blank"><i class="fa fa-plus"></i> Sobre a empresa</a></li>
              <li><a href="mailto:<%= t(:contact_email).html_safe %>"><i class="fa fa-plus"></i> Fale Conosco</a></li>
            </ul>
          </li>
        </ul>
        <!-- End Menu-->
      </div>
    </div>
  </div>
  <!-- End mainmenu-->

</nav>
<!--Menu-->
