<ul class="social_bottons">
  <li><a href="<%= user_omniauth_authorize_path(:facebook) %>" class="botton_face"><i class="fa fa-facebook"></i><%= t('login_with_facebook') %></a></li>
</ul>
<%= simple_form_for(User.new, url: session_path(:user), html: {class: "login_form"}) do |f| %>
  <hr />
  Ou entre com seus dados
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <ul>
    <li><%= f.submit t('sign_in'), class: "botton_border" %></li>
    <li><%= link_to t('users.sessions.new.forgot_password'), new_password_path(:user) %></li>
  </ul>
<% end -%>
