<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1,  maximum-scale=1">
  <title><%= t(:app_name) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center padding-bottom"><%= image_tag "logo-radar.png", alt: t(:app_name) %></div>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
