<!--Background Image title-->
<section class="bg-title center">
  <%= image_tag "coming-soon.jpg" %>
  <div class="overlay"></div>
  <div class="container">
    <div class="row coming-soon paddings">
      <div class="col-md-12">
        <%= image_tag "logo-radar.png", alt: t(:app_name) %>
        <h2><%= t(:app_name) %></h2>
        <h3><%= t('.title') %></h3>
        <div id="coming-soon" class="counter"></div>
        <a class="btn btn-primary top" href="mailto:<%= t(:contact_email).html_safe %>" role="button">Fale Conosco</a>
      </div>

    </div>
  </div>
</section>
<!--Background Image title-->
